*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
background-color: rgba(255,82,0);
height: auto;
}
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 10%;
    flex-wrap: wrap;
}
.logo-box{
    flex: 1;

}
.logo{
    height: 42px;
    width: 100%;
    max-width: 136px;
    
}

.nav-links{
    display: flex;
    gap: 25px;
    align-items: center;
    flex: 1;
    text-align: center;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Gilroy, arial, Helvetica Neue, sans-serif;
    font-size: 14px;
}
    
.btn1{
   border: 1px solid white;
    padding: 8px 21px;
    display: flex;
    align-items: center;
    border-radius: 12px;
}
.btn1 span {
      font-size: 25px;
}

.btn2{
    background-color: black;
    padding: 16px 35px;
    border-radius: 14px;
}

@media (max-width:700px) {
    .navbar{
        flex-direction: column;
        gap: 15px;
    }
    .nav-links{
        display: flex;
        gap: 15px;
    }
}



/* NEXT HEAD SECTION 1 **/
.h-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}
.heading{
    font-size: 25px;
    display: flex;
    justify-content: center;
}
@media (max-width:600px){
    .heading{
        font-size: 10px;
    }
}

.heading h1{
    width: 60%;
    text-align: center;
    color: white;
    font-family: Gilroy, arial, Helvetica Neue, sans-serif;
}

.h-input{
    display: flex;
    height: 15vh;
    gap: 24px;
    
}
.loca-cho{
    background-color: white;
    display: flex;
    align-items: center;
    height: 62px;
    border-radius: 14px;
    padding: 17px;
    width: 22vw;
}
.loca-cho img{
    height: 25px;
}
.loca-cho input{
    border: none;
    width: 82%;
    font-size: 16px;
    font-weight: bold;
}
.loca-cho input:focus{
    outline: none;
}

.sear-res{
    display: flex;
    background-color: white;
    width: 28vw;
    height: 62px;
    padding: 17px;
    border-radius: 14px;
}
.sear-res .search{
    border: none;
    width: 92%;
    font-size: 16px;
    font-weight: bold;
}

.sear-res .search:focus{
    outline: none;
}

.res-btn{
    border: none;
    background-color: white;
}


@media (max-width:700px) {
    .h-input{
        flex-direction: column;
        height: auto;
        gap: 15px;
    }
    .loca-cho, .sear-res{
        width: 80vw;
    }
    .loca-cho input{
        font-size: 83%;
    }
    .sear-res .search{
    border: none;
    width: 92%;
    font-size: 83%;
    font-weight: bold;
}
}

.h-cardcontainer{
   display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 77%;
    margin-bottom: 2%;
}
.h-cardcontainer img{
   width: 100%;
}

@media (max-width:700px) {
    .h-cardcontainer{
        grid-template-columns: 1fr;
        width: 90%;
    }
}

.main-body{
    width: 100%;
    padding: 40px 10%;
    background-color: #f5f5f5;
    margin-bottom: 30px;

    font-family: gilroy, arial, Helvetica Neue, sans-serif;
}

.best-foods{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 18px;

    overflow-x: auto;
    padding: 10px;
    margin-bottom: 94px;
}
.f-image{
    height: 11rem;
    display: flex;
    align-items: center;

}
.f-image img{
    width: 100%;
    border-radius: 68px;
    min-width: 200px;
    height: 100%;
}

.f-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(237, 231, 225);
    border-radius: 14px;
    width: 14rem;
    height: 296px;
    gap: 24px;
}
@media(max-width:600px){
    .f-items{
        height: 41vh;
    }
}


.groceries{
    display: flex;
    overflow-x: auto;
    gap: 18px;
}

#Grocery-heading{
    font-size: 25px;
    margin-bottom: 20px;
    color: black;
    font-family: Gilroy, arial, Helvetica Neue, sans-serif;
}


.restaurants{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 18px;
}

#re-heading{
    margin: 33px;
    margin-left: 0;
}

.b-resta{
    width: 23rem;
    background-color:#ddcddd40;
    border-radius: 24px;
    padding-bottom: 14px;
    overflow: hidden;
    flex: 0 0 auto;

}
.re-image{
    position: relative;
}
.re-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.name-rate{
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    font-weight: bold;
}

.name-price , .place-distance{
    display: flex;
    justify-content: space-between;
    padding: 3px 9px;
    color: #1b1616ab;
    font-size: 14px;
    align-items: center;
}

.ta-booking{
    width: 40%;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    background-color: #dadada;
    border-radius: 16px;
    height: 22px;
}
.ta-booking img{
    width: 13%;
    height: 2vh;
}

.ta-text{
    font-size: 86%;
}
.re-features{
    padding: 12px 5px;
    margin-left: 8px;
}

.discount{
    background-color: #d4f9d4;
    color: #4bb64b;
    font-weight: bold;
    padding-left: 17px;
    width: 21rem;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-left: 13px;
}
.avail-cover{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin: 14px 0;
}
.availab{
    display: flex;
    justify-content: space-around;
    background-color: #58cf58;
    color: white;
    width: 20rem;
    height: 34px;
    border-radius: 7px;
    align-items: center;
}


.swig-app{
    width: 100%;
    margin: 37px -13%;
    padding: 40px 0;
}
.swig-app img {
    width: 126%;
}

.cities{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 21px;
    width: 85%;
}
.city{
    border: 1px solid black;
    padding: 12px;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#delivery-heading{
    margin-left: 7%;
}

food-delivery{
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

footer{
    display: flex;
    justify-content: center;
    
}

.logo-footer{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 6px;
        
}
.logo-footer img {
    width: 150px;     
    height: auto;
}

.company,.contact,.available-in,.life-swi{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.company a,
.contact a,
.available-in a,
.life-swi a{
    width: 100%;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.overall-links{
    display: grid;
    grid-template-columns: 180px repeat(4, 1fr); 
    gap: 20px;
    padding: 40px 17rem;
}

.contact,.available-in,.life-swi {
    height: 73%;
    gap: 12px;
}

.links .icons{
    display: flex;
    gap: 12px;
    margin-top: 12px;
}
@media (max-width:600px){
    .overall-links{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 40px;
   
}
}


.creator{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    padding: 88px 15%;
}
.photo{
    display: flex;
    justify-content: center;
}
.photo img{
    width: 50%;
    border-radius: 10px;
}

@media (max-width:600px){
    .creator{
        grid-template-columns: 1fr;
    }
    .about-me{
        display: flex;
        justify-content: center;
    }
}
